#background {
    min-height: 885px;
    min-width: 670px;
}

h2 {
    margin-bottom: 1rem;
}

.form-group {
    width: 80%;
}

#tos-view-btn,
#dpa-view-btn {
    color: #007bff;
}

#tos-view-btn:hover,
#dpa-view-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tos-help,
.dpa-help {
    z-index: 1;
    position: absolute;
    top: 90%;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

#tos-view-btn:hover+.tos-help {
    visibility: visible;
    opacity: 1;
}

#dpa-view-btn:hover+.dpa-help {
    visibility: visible;
    opacity: 1;
}

input[data-tooltip]:disabled:hover+.tooltip {
    visibility: visible;
    opacity: 1;
}

input[data-tooltip]:disabled+.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

#sign-up {
    width: 100%;
}

.agreement-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.agreement-page>.tac-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

.agreement-page>.tac-background>.header>h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#terms-and-conditions>.tac-background>.header>h2 {
    font-size: 24px;
}

#data-processing-agreement>.tac-background>.header>h2 {
    font-size: 31px;
}

.agreement-page>.tac-background>.content {
    overflow-y: scroll;
    padding: 20px;
    height: calc(100% - 40px);
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.close-btn {
    font-size: 40px;
    position: absolute;
    top: -12px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}

.close-btn:hover {
    color: grey;
}

.content-section {
    display: flex;
    margin-bottom: 15px;
    /* Space between sections */
}

.content-section>.block-label,
.content-subsection>.block-label {
    flex: 0 0 80px;
    /* Width of the label column, similar to col-1 in Bootstrap */
    padding-right: 10px;
    /* Space between label and content */
    text-align: right;
    /* Aligns the text to the right */
}

.content-section>.block-content,
.content-subsection>.block-content {
    flex: 1;
    /* Takes up the rest of the space, similar to col-11 in Bootstrap */
}

#DPA-download {
    padding: 1px 3px 1px 3px;
    position: absolute;
    left: 20px;
    top: 10px;
}
